.popup{
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: grid;
    grid-template-columns: 1;
    /* position: fixed; */
    justify-content: center;
    justify-items: center;
    background-color: rgb(192, 252, 229);
    column-gap: 0px;
    position: absolute;
    z-index: 1;
  }
  .cut_camera{
    color: red;
    height:30px;
    width: 30px;
    font-size: 25px;
    cursor: pointer;
    /* margin-left:200px; */
    margin-top: 9px;
    position: inherit; 
    margin-left: 475px;
  }

  .video_style{
    width: 500px; 
    height:500px;
    border: 10px solid rgb(189, 186, 186);
  }
  

  .file, .camera{
  width: 20px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer;
}
.isactivated{
  color: rgb(252, 38, 177);
  cursor: pointer;
  font-size: 20px;
  background-color: none;
}

.clickPhoto{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 205, 227);
  justify-self: center;
  cursor: pointer;
  position: inherit;
}

.clickPhoto:hover{
  background-color: rgb(154, 0, 69);
  border-color: green;
}
.main_class{
  margin: -8px;
}

h1{
  color: red;
  margin-top: -75px;
  font-size: 50px;
  margin-left: 30px;
}

.select-images{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 15px;
}

.show-image-area{
  padding: 15px;
  background-color: rgba(29, 244, 190, 0.408);
}

.show_image{
  max-height: 500px;
  max-width: 500px;
}

@media screen and (max-width: 530px) {

  .show_image{
    max-width: 100% !important;
    height: auto !important;
  } 

  .popup{
    max-width: 100% !important;
    height: auto !important;
  }

  .video_style{
    max-width: max-content !important;
    height: max-content !important;
  }

  .cut_camera{
    /* position: fixed;
    margin-right:45%;
    margin-top: 8px; */
    margin-right: 200px;
  }
  
}